---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelance",
    company: "Skull Island Records",
    description:
      "Dj productor, programador y diseñador web. Creación del sello discografico de música electrónica Skull Island Records. Desarrollo de la web. Creación de contenido y diseño de la marca.",
    link: "https://skullislandrecords.sylenthmen.site/",
  },
  {
    date: "Septiembre 2023",
    title: "Gerente de Sucursal",
    company: "Synergo",
    description:
      "Encargado de la gestión de sucursal, atención al cliente, gestión de personal, cumplimiento de objetivos, control de stock y pedidos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
